<form action="/restaurants/{{restaurant.id}}/menus/{{menu.id}}/addItem" method="POST">
    <label for="name">Name of Item</label>
    <input type="text" name="name" id="name">
    <label for="price">Enter Price</label>
    <input type="text" name="price" id="price">
    <button type="submit">Add Item</button>
</form>