<form action="./edit" method="POST">
    <label for="name">Name of Item</label>
    <input type="text" name="name" id="name" value="{{item.name}}">
    <label for="price">Enter Price</label>
    <input type="text" name="price" id="price" value="{{item.price}}">
    <button type="submit">Add Item</button>
</form>